@using OutWeb.Models.FrontEnd.NewsFrontEndModels
@model List<NewsFrontEndDataModel>
@{
    ViewBag.Title = "消息報報";
    ViewBag.BodyClass = "News";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>
@* 寬度不超過450，高度不超過265 *@


<div class="wrap clearfix">

    @foreach (var data in Model)
    {
        string imgUrl = data.ImagesData == null ? string.Empty : data.ImagesData.FileUrl;
        <figure class="newslist">
            <div class="cut">
                <img src="~/@imgUrl" alt="最新消息列表圖">
            </div>
            <a href="@Url.Content("~/News/Content?ID="+data.ID)"></a>
            <figcaption>
                <h4>@data.Title</h4>
                <a href="@Url.Content("~/News/Content?ID="+data.ID)" class="more">more</a>
                <small class="date">@data.PublishDateStr</small>
            </figcaption>
        </figure>
    }

</div>