@using OutWeb.Models.Manage.TeamModels
@using OutWeb.Modules.Manage
@model TeamListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "Team";
    ViewBag.Title = "全台服務團隊";
    ViewBag.TitleEn = "Team Members";
    ViewBag.Breadcrumb = ViewBag.Title;
    List<CityModel> cities = TempData["CityData"] as List<CityModel>;
    int citySelectID = 0;
    Dictionary<int, string> areaBind = new Dictionary<int, string>();

}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<h3 class="title">
    @ViewBag.Title
    <span>@ViewBag.TitleEn</span>
</h3>

@using (Html.BeginForm("Index", "Team", FormMethod.Get, new { id = "frmTeamList", @class = "form-inline mb-24" }))
{
    <select name="city" id="cities" class="form-element">
        <option value="@null">縣市</option>

        @foreach (var item in cities.OrderBy(s => s.ID).ToList())
        {
            string selected = string.Empty;
            if (item.ID == Model.Filter.CityID)
            {
                selected = "selected";
                citySelectID = item.ID;
            }
            <option value="@item.ID" @selected>@item.Name</option>
        }
    </select>

    {
        if (citySelectID > 0)
        {
            areaBind = cities.Where(s => s.ID == citySelectID).First().Area.ToDictionary(d => d.Key, d => d.Value);
        }
    }
    <select name="area" id="area" class="form-element">
        <option value="@null">鄉鎮市區</option>
        @if (citySelectID > 0)
        {
            areaBind = cities.Where(s => s.ID == citySelectID).First().Area.ToDictionary(d => d.Key, d => d.Value);
            foreach (var item in areaBind)
            {
                string selected = item.Key == Model.Filter.AreaID ? "selected" : "";
                <option value="@item.Key" @selected>@item.Value</option>
            }
        }
    </select>

    <input type="text" class="form-element" name="qry" placeholder="請輸入地址、公司名稱或聯絡人關鍵字" value="@Model.Filter.QueryString">

    <button class="btn"><i class="fas fa-search"></i> 搜尋</button>
}
<div class="table-rwd">
    <table class="table-striped table-hover">
        <colgroup>
            <col style="width: 10%">
            <col style="width: 10%">
            <col style="width: 28%">
            <col style="width: 22%">
            <col style="width: 15%">
            <col style="width: 15%">
        </colgroup>
        <thead>
            <tr>
                <th>縣市</th>
                <th>鄉鎮市區</th>
                <th class="text-left">地址</th>
                <th>公司名稱</th>
                <th>聯絡人</th>
                <th>聯絡電話</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.Result.Data)
            {
                string cityName = cities.Where(s => s.ID == data.MAP_CITY_ID).First().Name;
                string areaName = string.Empty;
                foreach (var item in cities)
                {
                    foreach (var area in item.Area)
                    {
                        if (area.Key == data.MAP_AREA_ID)
                        {
                            areaName = area.Value;
                            break;
                        }

                    }
                }
                <tr>
                    <td>@cityName</td>
                    <td>@areaName</td>
                    <td class="text-left">@data.ADDR</td>
                    <td>@data.CONTACT</td>
                    <td>@data.CONTACT</td>
                    <td>@data.PHONE</td>
                </tr>

            }
            @if (Model.Result.Data.Count() == 0)
            {
                <tr>
                    <td colspan="6">查無資料</td>
                </tr>
            }
            @*<tr>
                    <td>桃園市</td>
                    <td>中壢區</td>
                    <td class="text-left">培英路276號</td>
                    <td>新天堂生命</td>
                    <td>黃任遠</td>
                    <td>0925-298-881</td>
                </tr>*@
        </tbody>
    </table>
</div>

<script>

    $("#cities").on("change", function () {
        var cityId = $(this).val();
        var url = "@Url.Content("~/Team/GetCityArea")";
        $.ajax({
            async: false,
            url: url,
            data: { ID: cityId },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    var result = {};
                    if (typeof response.data === 'string') {
                        result = JSON.parse(response.data);
                    }
                    $("#area").empty();
                    $("#area").append(new Option("請選擇鄉鎮市區", "@null", true, false));
                    for (var key in result.Area) {
                        var areaName = result.Area[key];
                        var optionElementReference = new Option(areaName, key, true, false);
                        $("#area").append(optionElementReference);
                    }
                }
            }, error: function (error) {
                console.log(error);
                alert(error.messages);
            }
        });
    })
</script>