@using OutWeb.Models.Manage.ProductKindModels
@model ProductKindDetailsDataModel

<input type="hidden" name="ProductKindID" value="@Model.ID" />


<dl class="field">
    <dt class="col-2"><sup title="必填">*</sup> 分類名稱</dt>
    <dd class="col-5">
        <input class="form-element" maxlength="64" type="text" placeholder="請輸入分類名稱" name="typeName" value="@Model.TypeName" required>
    </dd>
</dl>

<dl class="field">
    <dt class="col-2">狀態</dt>
    <dd class="col-4">
        <input id="state_0" class="radio" type="radio" value="Y" name="status">
        <label for="state_0"></label>啟用

        <input id="state_1" class="radio" type="radio" value="N" name="status">
        <label for="state_1"></label>停用

        @* 學校資料維護 > 編輯 > 選擇分類，選單中不會出現停用的分類 *@
        @* <input id="state_0" type="radio" value="Y" name="status" class="c-choice"><label for="state_0"></label>啟用
        <input id="state_1" type="radio" value="N" name="status" class="c-choice"><label for="state_1"></label>停用 *@
    </dd>
</dl>
<dl class="field">
    <dt class="col-2">排序</dt>
    <dd class="col-10">
        <input class="inline" maxlength="64" type="number" name="sortIndex" value="@Model.SortIndex">
        <small>數字愈大愈前面</small>
    </dd>
</dl>
<footer class="submit-bar clear mt-24">
    <button class="btn success oi" data-glyph="circle-check" type="submit">確定儲存</button>
    <button class="btn warning oi" data-glyph="circle-x" type="button" id="bakList">回到列表</button>
</footer>

<script>
    (function ($) {
        $(function () {
            $("#bakList").click(function (event) {
                event.preventDefault();
                var url = '@Url.Action("ProductKindList", "_SysAdm")';
                window.location.href = url;
            });


            $('#formManageProductKindData').submit(function () {
                if ($('input[name=status]:checked').val() == 'N') {
                    var id = @Model.ID;
                    var url = "@Url.Content("~/_SysAdm/CheckProductStatusHideHasOnUsed/")";
                    var hasData =false;
                    $.ajax({
                        async: false,
                        url: url,
                        data: { ID: id },
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            if (data.success) {
                                hasData = false;
                            }
                            else {
                                hasData = true;
                                alert(data.messages);
                            }
                        }, error: function (error) {
                            alert(error.messages);
                        }
                    });

                    if(hasData){
                        return false;
                    }
                    else{
                        return true;
                    }
                }
            });

            //狀態
            if ('@Model.ID' == '0') {
                $('#state_0').prop('checked', true);
            }
            else {
                if ('@Model.Status' == 'Y') {
                    $('#state_0').prop('checked', true);
                }
                else {
                    $('#state_1').prop('checked', true);
                }
            }

     

        })
    })(jQuery);
</script>