<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - 儀禮科技</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("css", false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header">
            <div class="wrap">
                <button class="mobile-toggle"><i class="fas fa-bars fa-fw"></i></button>
                <h1 class="logo" tabindex="-1">
                    <a href="~/Home" title="回首頁">儀禮科技 Ritual Technology</a>
                </h1>
                <nav id="menu">
                    <a href="~/AboutUs" class='@(ViewBag.BodyClass == "AboutUs" ? "current" : "")'>公司簡介</a>
                    <a href="~/Service" class='@(ViewBag.BodyClass == "Service" ? "current" : "")'>服務項目</a>
                    <a href="~/Plan" class='@(ViewBag.BodyClass == "Plan" ? "current" : "")'>生前契約</a>
                    <a href="~/Trust" class='@(ViewBag.BodyClass == "Trust" ? "current" : "")'>合法信託查詢</a>
                    <a href="~/ContactUs" class='@(ViewBag.BodyClass == "ContactUs" ? "current" : "")'>聯絡我們</a>
                    <a href="~/Public" class='@(ViewBag.BodyClass == "Public" ? "current" : "")'>公開資訊</a>
                    <a href="~/Team" class='@(ViewBag.BodyClass == "Team" ? "current" : "")'>全台服務團隊</a>
                </nav>
                @if (ViewBag.IsFirstPage)
                {
                    <h2 class="sr-only">專業 完善 親切 真誠 服務 用心 圓滿 關懷</h2>
                }
                else
                {
                    <h2>
                        @ViewBag.Title
                        <span>@ViewBag.TitleEn</span>
                    </h2>
                }
            </div>
        </header>
        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <div id="main" class="wrap">
                <ul class="breadcrumb">
                    <li>
                        <a href="~/Home"><i class="fas fa-home"></i> HOME</a>
                    </li>
                    @RenderSection("breadcrumb", false)
                    <li>@ViewBag.Breadcrumb</li>
                </ul>
                <div id="content">
                    @RenderBody()
                </div><!-- content //-->
            </div><!-- main //-->
        }
    </div><!-- wrapper //-->
    <footer id="footer">
        <a href="#header" class="goTop" title="TOP">
            <i class="fas fa-angle-up"></i>
        </a>
        <ul class="list-inline contact">
            <li><i class="fas fa-map-marker-alt"></i> 320 桃園市中壢區民權路四段438號5F</li>
            <li><i class="fas fa-phone"></i> (03) 287-2855</li>
            <li><i class="fas fa-fax"></i> (03) 287-2811</li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:1zlife.corp@gmail.com">1zlife.corp@gmail.com</a></li>
        </ul>
        <p class="copyright">
            <span class="hidden-xxs">Copyright &copy; 2018 Ritual Technology Co., Ltd. All Rights Reserved.</span>
            <span class="hidden-xs">&copy; 2018 Ritual Technology Co., Ltd.</span>
        </p>
    </footer><!-- footer //-->

    <script src="~/Scripts/cdn/jquery.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/fa-solid.min.js"></script>
    <script src="~/Content/js/fontawesome.min.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
        $('body').waypoint(function (direction) {
            if (direction === 'down') {
                // $('body').addClass('scrolled');
                $('.goTop').fadeIn();
            }
            else if (direction === 'up') {
                // $('body').removeClass('scrolled');
                $('.goTop').fadeOut();
            }
        }, { offset: '-1px' });

        // 點選後跳到 href 指向的位置
        // $('.scroll').click(function () {
        //     var scrollToAnchor = $(this).attr('href');
        //     $('html, body').stop(true).animate({
        //         scrollTop: $(scrollToAnchor).offset().top - 40
        //     }, 750);
        //     return false;
        // });
        $('.goTop').click(function () {
            $('body, html').stop(true).animate({ scrollTop: 0 }, 800);
            return false;
        });

        // 行動裝置的主選單
        trigger = $('.mobile-toggle');
        trigger.click(function () {
            $(this).toggleClass('active');
            $('body').toggleClass('js-mobile-body');

            if ($(this).hasClass('active')) {
                $(this).find('[class*="fa-"]').attr('data-icon','times');
            }
            else {
                $(this).find('[class*="fa-"]').attr('data-icon','bars');
            }
            // 點 menu 空白處關閉
            if ($('body').hasClass('js-mobile-body')) {
                $("#menu").click(function () {
                    $("body").removeClass("js-mobile-body");
                    $(trigger).removeClass('active').find('[class*="fa-"]').attr('data-icon','bars');
                });
                $("#menu a").click(function (e) {
                    e.stopPropagation();
                });
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
